.top-column {
    display: inline-block;
    width: 100%;
    text-align: center;
}
.top-logo {
    display: inline-block;
    margin-bottom: 20px;
    height: 30px;
}
.soon {
    display: inline-block;
    width: 100%;
    font-size: 45px;
    line-height: 50px;
    margin-bottom: 15px;
    text-transform: uppercase;
}
.description {
    display: inline-block;
    width: 74%;
    margin-bottom: 30px;
    color: rgb(110, 110, 110);

}
.clock {
    display: inline-block;
    width: 100%;
    margin-bottom: 30px;
}
.top-email {
    display: inline-block;
    width: 100%;
    margin-bottom: 15px;
}
.top-email > input {
    display: inline-block;
    width: 65%;
    border: none;
    border-bottom: 1px solid #fff8;
    background-color: rgba(0, 0, 0, 0.0);
    outline: none;
    color: white;
    padding: 10px 5px;

    
}
.subscribe {
    display: inline-block;
}
.subscribe-button {
    padding: 9px 30px;
    background-color: #ee2165;
    color: rgba(255, 255, 255, 0.712);
    border: none;
    outline: none;
    margin: 15px;
    
}
.subscribe-button:hover {
    cursor: pointer;
    box-shadow: 1px 1px 7px 2px rgb(185, 185, 185);
}
.subscribe-button:active {
    transform: translateY(2px);
    box-shadow: 1px 1px 7px 2px rgb(150, 150, 150);
}
.mouse {
    display: inline-block;
    width: 100%;
}