.left-column {
    display: inline-block;
    width: 50%;
    float: left;
    background-color: rgb(255, 255, 255);
}
.left-column > .about {
    display: inline-block;
    width: 100%;
    font-size: 20px;
    margin-bottom: 20px;
    text-transform: uppercase;
}
.left-text {
    display: inline-block;
    width: 100%;
    font-size: 15px;
    line-height: 25px;
    margin-bottom: 20px;
    color: rgb(199, 199, 199);
}
.main-link {
    color: var(--button-color);
    text-decoration: none;
}
.right-column {
    display: inline-block;
    float: right;
    width: 40%;
    background-color: rgb(255, 255, 255);
}
.right-column > .questions {
    display: inline-block;
    width: 100%;
    font-size: 20px;
    margin-bottom: 20px;
    text-transform: uppercase;
}
.right-text {
    display: inline-block;
    width: 100%;
    font-size: 15px;
    line-height: 25px;
    margin-bottom: 20px;
    color: rgb(199, 199, 199);
}


@media (max-width: 850px) {
    .left-column {
        width: 600px;
        margin: 0 cacl(50% - 300px);
    }
    
@media (max-width: 850px) {
    .right-column {
        width: 600px;
        margin-top: 30px;
        margin: 0 cacl(50% - 300px);
    } 
    @media (max-width: 650px) {
        .left-column {
            width: 400px;
            margin: 0 cacl(50% - 200px);
            line-break: strict;
        }
        @media (max-width: 650px) {
            .right-column {
                width: 400px;
                margin-top: 30px;
                margin: 0 cacl(50% - 200px);
            }
            @media (max-width: 450px) {
                .left-column {
                    width: 350px;
                    margin: 0 cacl(50% - 175px);
                    line-break: strict;
                }
                @media (max-width: 450px) {
                    .right-column {
                        width: 350px;
                        margin-top: 30px;
                        margin: 0 cacl(50% - 175px);